@import url('https://fonts.cdnfonts.com/css/sofia-pro');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.auth-background{
  background-image: url('/images/authCover.jpg');
  background-size: cover;
}

/* Fonts */
.sofia{
  font-family: 'Sofia Pro', sans-serif;    
}

/* Colors */
.bg-pink{
  background-color: #dd458c;
}
.pink{
  color: #F20574;
}
.grey{
  color: #9F9F9F;
}

/* button */
.auth-button{
  border: none;
  font-size: 17px;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.auth-button:hover{
  background-color: #bd1664;
}

/* navbar */
.navbar{
 width: 90px;
 height: 100vh;
 transition: width 0.17s ease-in-out;
}
.navbar:hover{
  width: 250px;
 }

 /* Utils */
 .pointer {
   cursor: pointer;
 }
 .yellow{
   color: #ebe984;
 }
